@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 242, 242, 242;
  --background-end-rgb: 242, 242, 242;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 242, 242, 242;
    --background-end-rgb: 242, 242, 242;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  position: sticky;
  z-index: 30;
  top: 0;
}

nav {
  display: flex;
  z-index: 9999;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  align-items: center;
}


.nav__menu-bar {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}

.nav__menu-bar div {
  width: 40px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
}

.nav__menu-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  width: 288px;
  row-gap: 24px;
  right: -288px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);

}

.nav__menu-list.active {
  right: 0;
}

.nav__link {
  font-size: 18px;
  position: relative;
  transition: all 0.2s;
}

.nav__link:hover {
  color: #da3e52;
}

.center {
  min-height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.aboutUsMain {
  display: flex;
  /* justify-content: center; */
  margin-top: 60px;
  gap: 40px;
  flex-wrap: wrap;
}

.aboutUsMainImg {
  width: 50%;
}

.aboutUsMain Img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.aboutUsMainH1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 46%;
}

.aboutUsMainH1 span {
  
  color: #da3e52;
  align-self: flex-start;
}

.MeetBeacon {
  align-self: flex-start;
  font-size: 54px;
  font-weight: 700;
}

.aboutUsMainH1 p {
  font-size: 22px;
  font-weight: 400;
  /* color: #000000; */
}

/* .aboutUsMainH1 p:nth-child(2){
  text-decoration: underline;
} */

.aboutUsMainH1 p:nth-child(3) {
  font-size: 16px;
}

.imgClientsBg {
  background: url(../public/pr2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.client {
  text-decoration: none !important;
  font-size: 16px !important;
}

.aboutUsCardContainer {
  display: flex;
  justify-content: space-around;
}

.aboutUsCard {
  display: flex;
  flex-direction: column;
  width: 35%;
  gap: 10px;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 6px;
}

.cardNumber h1 {
  font-size: 60px;
  /* color: #da3e52; */
}

.cardHeading {
  font-size: 24px;
}

.cardDesc p {
  font-size: 16px;
}

.aboutUsCardContainer .aboutUsCard:nth-child(2) {
  /* background-color: #da3e52; */
}

.aboutUsCardContainer .aboutUsCard:nth-child(odd) .cardHeading h1,
.cardNumber h1 {
  /* color: #da3e52; */
}

.cardNumber2 h1 {
  color: white !important;
}

.cardHeading2 h1 {
  color: white;
}

.cardDesc2 p {
  color: white;
}

.whyUsContainer {
  /* background-color: #da3e52; */
  padding: 1px 30px;
}

.whyUsContent {
  display: flex;
}

.whyUsH1 {
  margin-bottom: 20px;
}

.whyUsH1 h1 {
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.whyUsPoints ul {
  list-style: circle;
}

.whyUsPoints li {
  color: rgb(20 83 45);
  color: white;
  font-size: 20px;
  /* filter: brightness(0.5); */
}

.WhyUsbutton {
  height: 65px;
  width: 60%;
  align-self: center;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255, 0.9);
  margin: 0 auto;
  border-radius: 35px;
  ;
}

.WhyUsbutton {
  font-size: 30px;
  font-weight: 700;
  color: #da3e52;
}

/* Contact Section Start */



.contactContent {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  padding-bottom: 40px;
}

.contactContentWrap {
  width: 35%;
  background: linear-gradient(to bottom, rgb(0, 0, 0, 0.2), #da3e52);
  /* background: #da3e52; */
  border-radius: 10px;
  padding: 30px;
}

.contactHeading {
  margin-bottom: 20px;
}

.contactHeading h1 {
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.contactDesc p {
  font-size: 15px;
  width: 90%;
  color: white;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formName {
  display: flex;
  gap: 20px;
}

.contactForm h1 {
  margin-bottom: 5px;
}

.formName h1 {
  margin-bottom: 5px;
}

.contactForm input {
  padding: 6px;
  padding-left: 10px;
  border: 1px solid grey;
  border-radius: 6px;
  /* filter: opacity(0.5); */
  width: 100%;
}

.message textarea {
  width: 100%;
  border-radius: 6px;
  /* filter: opacity(0.5); */
  border: 1px solid grey;
  padding: 6px;
  padding-left: 10px;
}

.contactButtonContainer {
  width: 100%;
  background: #da3e52;
  font-family: 'Poppins', sans-serif;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-size: 23px;
  color: white;
}

/* Contact Section End */


.addressContainer {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  width: 95%;
  margin: 0px auto !important;
}

.addressCard {
  width: 50%;
  /* background: rgb(255, 255, 255, 0.8); */
  border-radius: 6px;
  padding: 20px 15px;
  border: 3px solid #da3e52;
  padding-bottom: 0px;
  padding-left: auto;
  padding-right: auto;
}

.hideNumber {
  visibility: hidden;
}

/* landing page */
.headerContent {
  margin-left: 5vw;
  font-family: 'Poppins', sans-serif;
  font-size: 4vw;
  font-weight: 600;

}

.subHeading {
  font-size: 1.8vw;
  font-weight: normal;
  margin-left:5vw;
  font-weight: bold;
}

/* Footer */

.partnerLogo {
  width: 16vw;
}

@media screen and (max-width:786px) {
  .nav__menu-list {
    background-color: #F2F2F2;
  }

}


@media screen and (max-width: 768px) {
  .aboutUsMain{
    gap: 12px;
  }


  .partnerLogo{
    width: 45vw;
  }

  .subHeading {
    font-size:3.8vw;
    margin-left: 5vw;
  }

  .headerContent {
    font-size: 7vw;
    line-height: 10vw;
  }

}

@media (min-width: 769px) and (max-width:1024px) {

  .subHeading {
    font-size:4vw;
    width: 95%;
    margin-left: 5vw;
  }

  .headerContent {
    font-size: 8vw;
    line-height: 10vw;
  }
  .partnerLogo{
    width: 15vw;
  }
}


@media screen and (min-width: 768px) {
  nav {
    padding-left: 60px;
    padding-right: 60px;
  }

  .nav__menu-bar {
    display: none;
  }

  .nav__menu-list {
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 24px;
    align-items: center;

  }

  .nav__link:hover:before {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .aboutUsMain {
    flex-direction: column;
  }

  .aboutUsMainH1 {
    width: 100%;
  }

  .aboutUsMainImg {
    width: 100%;
  }

  .MeetBeacon {
    font-size: 58px;
  }

  .aboutUsCardContainer {
    flex-direction: column;
  }

  .aboutUsCard {
    width: 100%;
  }

  .whyUsContent {
    flex-direction: column;
  }

  .WhyUsbutton {
    width: 100%;
    font-size: 20px;
  }

  .contactContent {
    flex-direction: column;
  }

  .contactContentWrap {
    width: 100%;
    margin-bottom: 30px;
  }

  .addressContainer {
    flex-direction: column;
  }

  .addressCard {
    width: 100%;
  }

}